<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Document</title>
</head>
<body>
    <style>
        /* .topmenu {
            display: flex;
        }
        .logo {
            width: 200px;
        }
        .rightmenu {
            flex-grow: 1;
            text-align: right;
        } */

    </style>
    <div class="wrap templetWrap">
        <div id="header" style="margin-top: 0px;"></div>
        <div id="mainConatainer"></div>
        <div id="sidebar"></div>
        <div id="quick-menu"></div>
        <div id="mymenuLayer" class ></div>
        <div id ="footer"></div>
    </div>
    <!-- <div class="topmenu">
        <div class="logo">하나증권</div>
        <div class="rightmenu"></div>
    </div> -->
</body>
</html>